.game {
    width: 100%;
    max-width: 100rem;
    height: 100%;
    display: grid;
    grid-template-rows: minmax(1fr, max-content) max-content;
}

.playerSpace {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: max-content;
    max-height: calc(100vh - 30rem);
    align-self: center;
    padding: 0 1rem;
}

.typingSpace {
    padding: 0 1rem;
}
