@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

:root {
    --shadow: 0 0 0.6rem rgba(0, 0, 0, 0.15);
    --color-background: #141414;
    --color-main: #1F1F1F;
    --color-main-light: #2B2B2B;
    --color-accent: #83A868;
    --color-text: #ffffff;
    --color-text-light: rgba(255, 255, 255, 0.5);
}

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: var(--color-background);
}